#%RAML 1.0
title: Account Management API
version: v1
baseUri: http://api.exemplo.com/api/{version}
mediaType: application/json

/accounts:
  post:
    description: Create a new account
    body:
      application/json:
        example: |
          {
            "name": "John Doe",
            "email": "john.doe@example.com"
          }
        properties:
          name:
            type: string
            description: The name of the account holder
            required: true
          email:
            type: string
            description: Email address of the account holder
            required: true
    responses:
      201:
        description: Account successfully created
        body:
          application/json:
            example: |
              {
                "id": "12345",
                "name": "John Doe",
                "email": "john.doe@example.com",
                "createdAt": "2023-09-25T10:30:00Z"
              }
            properties:
              id:
                type: string
                description: Unique identifier for the account
              name:
                type: string
                description: The name of the account holder
              email:
                type: string
                description: Email address of the account holder
              createdAt:
                type: datetime
                description: The date the account was created
      400:
        description: Invalid request
      500:
        description: Server error

  get:
    description: Retrieve a list of all accounts
    responses:
      200:
        body:
          application/json:
            example: |
              [
                {
                  "id": "12345",
                  "name": "John Doe",
                  "email": "john.doe@example.com",
                  "createdAt": "2023-09-25T10:30:00Z"
                }
              ]
            items:
              properties:
                id:
                  type: string
                  description: Unique identifier for the account
                name:
                  type: string
                  description: The name of the account holder
                email:
                  type: string
                  description: Email address of the account holder
                createdAt:
                  type: datetime
                  description: The date the account was created
      500:
        description: Server error

/accounts/{id}:
  get:
    description: Retrieve details of a specific account by ID
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "id": "12345",
                "name": "John Doe",
                "email": "john.doe@example.com",
                "createdAt": "2023-09-25T10:30:00Z"
              }
            properties:
              id:
                type: string
                description: Unique identifier for the account
              name:
                type: string
                description: The name of the account holder
              email:
                type: string
                description: Email address of the account holder
              createdAt:
                type: datetime
                description: The date the account was created
      404:
        description: Account not found
      500:
        description: Server error

  put:
    description: Update a specific account by ID
    body:
      application/json:
        example: |
          {
            "name": "Jane Doe",
            "email": "jane.doe@example.com"
          }
        properties:
          name:
            type: string
            description: The name of the account holder
            required: true
          email:
            type: string
            description: Email address of the account holder
            required: true
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "id": "12345",
                "name": "Jane Doe",
                "email": "jane.doe@example.com",
                "createdAt": "2023-09-25T10:30:00Z"
              }
            properties:
              id:
                type: string
                description: Unique identifier for the account
              name:
                type: string
                description: The name of the account holder
              email:
                type: string
                description: Email address of the account holder
              createdAt:
                type: datetime
                description: The date the account was created
      400:
        description: Invalid request
      404:
        description: Account not found
      500:
        description: Server error

  delete:
    description: Delete a specific account by ID
    responses:
      204:
        description: Account successfully deleted
      404:
        description: Account not found
      500:
        description: Server error